@import "compass/css3/";


// Color Palette:
$primary-colo-1: #338FD5; //blue
$primary-colo-2: #4578A0;
$primary-colo-3: #11568B;
$primary-colo-light: #65B0EA;
$primary-colo-lighter: #88C0EA;
$complem-colo-1: #FFA630; //blue
$complem-colo-2: #BF8D4B;
$complem-colo-3: #A6650F;
$complem-colo-light: #FFBC63;
$complem-colo-lighter: #FFCE8D;
$complem-colo-1: #4578A0; //orange
$complem-colo-2: #4578A0;
$complem-colo-3: #4578A0;


$outline-colo: #6D91AB; //
$text-dark-colo: #232323; // dark-gray
$text-light-colo: #fcfeff; // egg shell white
$main-bg-colo: #fcfeff; // egg shell white
$window-bg-colo: #ffffff; // white
$shadow-colo: $outline-colo;


//outline variables
$main-outline: 3px solid $outline-colo;

//box-shadow variables
$topbar-bshad: 5px 5px 10px $outline-colo;
$form-bshad: 0px 0px 10px 3px $outline-colo;


.qst-form {
	margin-top: 8em;
	width: auto;
	height: 4em;
	padding: 1em 1em 1em 1em;
	outline: $main-outline;
	@include border-radius(3px);
	background-color:  #ffffff;
	box-shadow: $form-bshad;
}

.qst-container {
	padding : 0 0 0 0;
}

img.logo{
	height: 35px;
	top: 12px;
	background: transparent;
	float: left;
	position: relative;
	
}

img.logo-icon {
  @extend img.logo;
  top: 14px;
}



.top-bar{
	height: 57px ;
	outline: $main-outline;
	background-color: #ffffff;
	box-shadow: $topbar-bshad;
	
	section{
		margin-left: 20em;
		margin-right: 15em;
		height: 100%;
		ul{
			background: transparent;
			height: 100% !important;
			li{
				
				
				height: 100% !important;
				background: transparent;
				a{
					height: 100% !important;
					background: none !important;
				}
			}
			
			li.username{
				margin-left: 13px;
				background-color: $primary-colo-1;
			}
		}
		
		ul.right{
			background-color: $complem-colo-1;
			li{
				a{
					background: none;
				}
			}
		}
	}
	
	
}

.main{
	background-color: $main-bg-colo;
}

.button {
	background-color: $complem-colo-1;
}

.ask-button {
	padding : 0 0 0 0;
}
.form{
	margin-top: 5em;
	margin-bottom : 0em;
	padding: 1em 1em 1em 1em;
	outline: $main-outline;
	@include border-radius(3px);
	background-color:  #ffffff;
	box-shadow: $form-bshad;
}


.tag-form {

	margin-top: 10em;
	padding: 1em 1em 4em 1em;
	border : 1px solid #b3b3b3;
	outline: $main-outline;
	@include border-radius(2px);
	background-color:  #ffffff;
}

ul.tags-list {

	font-family: inherit;

	li {
		display: inline;
		padding : 0.25em 0.25em 0.25em 0.25em;
		margin-right: 0.5em;
		border : 1px solid #b3b3b3;
		background-color : #6a9394;
		list-style-type: none;
		color : #fff;
		@include border-radius(3px);

	}

}

input.search-tags {
	margin: 0 0 0 0;
}

.tags {
	width 		: 100%;
	padding 	: 0.5em 0 0.5em 0.5em;
	border 		: 1px solid #b3b3b3;
	border-top 	: none;
	font-family: inherit;
	color: rgba(0, 0, 0, 0.75);
	cursor: pointer;
}

.tags:hover {
	background-color: lighten(#ffda61, 20%);
}