@import "compass/css3/";


.h-nav {

	nav {
		border-bottom: 3px solid #89a5b5;
		background-color: #ffffff;
	}
}
img.logo{
	height: 35px;
	top: 10px;
	background: transparent;
	position: relative;
	
}
.main {
	background-color: #fcfeff;
}

.title {
	font-size: 20px;
	color: #89a5b5;
}

// topbar settings:

.top-bar-section {
	height: 100%;
	width: auto;
}
.top-bar-section ul {
	background: transparent;
	height: 100% !important;
	left: 150px !important;
	position: relative;
	display: block;
	
	li{
		height: 100%;
	}
}
.qst-form {

	margin-top: 10em;
	padding: 2em 1em 4em 1em;
	border : 3px solid #89a5b5;
	background-color: #ffffff;
	@include border-radius(6px);
}

.qst-container {
	padding : 0 0 0 0;
}

.ask-button {
	padding : 0 0 0 0;
	div {
	background-color: #89a5b5;
	border-color: #89a5b5;
	}
}

.tag-form {
	background-color: #ffffff;
	margin-top: 10em;
	padding: 1em 1em 4em 1em;
	border : 1px solid #b3b3b3;
	@include border-radius(5px);
	border : 3px solid #89a5b5;
}

ul.tags-list {

	font-family: inherit;

	li {
		display: inline;
		padding : 0.25em 0.25em 0.25em 0.25em;
		margin-right: 0.5em;
		border : 1px solid #b3b3b3;
		background-color : #6a9394;
		list-style-type: none;
		color : #fff;
		@include border-radius(3px);

	}

}

input.search-tags {
	margin: 0 0 0 0;
}

.tags {
	width 		: 100%;
	padding 	: 0.5em 0 0.5em 0.5em;
	border 		: 1px solid #b3b3b3;
	border-top 	: none;
	font-family: inherit;
	color: #89a5b5 ;
	cursor: pointer;
}

.tags:hover {
	background-color: lighten(#ffda61, 20%);
}