@import "compass/css3/";

.login-form {
	margin-top: 10em;
	padding: 2em 1em 2em 1em;
	border : 1px solid #b3b3b3;
	@include border-radius(2px);
}

.fb-button {
	height : 24px;
	width : 200px;
	margin-top : 2em;
	background-image:url('/images/FB_Small_and_Long_200x24.png');
	cursor : pointer;
}

