
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
<link rel="shortcut icon" href="images/logosymbol.ico">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SpeedTutoring: Learn the quick way</title>

  <link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.css"> 
  <link rel="stylesheet" href="stylesheets/login.css"> 

  <script src="javascripts/vendor/custom.modernizr.js"></script>
<!-- <a href="#" data-ng-click="vm.registerUser()"> Create Account</a> -->
</head>

<body class="main" data-ng-app="speedTutoring">

	<div data-ng-controller="loginController">

		<!-- **************** -->
		<!-- Login / Register -->
		<!-- **************** -->

		<div data-ng-switch="vm.user.type" class="container">

			<!-- the register form -->
			<div data-ng-switch-when="registerUser">
<div class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form role="form">
				<h2>Register!</h2>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
			                    <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" ng-model="vm.user.firstName">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" ng-model="vm.user.lastName">
							</div>
						</div>
					</div>
					<div class="form-group">
						<input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="School" tabindex="3" ng-model="vm.user.school">
					</div>
					<div class="form-group">
						<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" ng-model="vm.user.email">
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" ng-model="vm.user.password">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
							</div>
						</div>
					</div>
					
					<hr class="colorgraph">
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6">
	          	<input type="submit" class="btn btn-lg btn-success btn-block" data-ng-click="vm.user.submit()" value="Register">
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6">
							<a href="" class="btn btn-lg btn-primary btn-block" data-ng-click="vm.cancelRegistration()" >Cancel</a>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
			</div>

			<!-- the login form-->
			<div data-ng-switch-default >
				<div class="row" style="margin-top:20px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
		<form role="form">
			<fieldset>
				<h2 class="text-center">Speed Tutoring</h2>
				<hr class="colorgraph">
				<div class="form-group">
        	<input type="text" name="email" id="email" class="form-control input-lg" placeholder="Email Address" ng-model="vm.user.username">
				</div>
				<div class="form-group">
        	<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" ng-model="vm.user.password">
				</div>

				<!-- NOT YET IMPLEMENTED -->
				<!--
				<span class="button-checkbox">
					<button type="button" class="btn" data-color="info">Remember Me</button>
                    <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
					<a href="" class="btn btn-link pull-right">Forgot Password?</a>
				</span>-->

				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-6 col-sm-6 col-md-6">
          	<input type="submit" class="btn btn-lg btn-success btn-block" data-ng-click="vm.user.submit()" value="Sign In">
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<a href="" class="btn btn-lg btn-primary btn-block" data-ng-click="vm.goToRegisterUser()" >Register</a>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
			</div>

		</div>

	</div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>

  <!-- Facebook button -->

  	<script src="javascripts/vendor/angular.js"></script>
 

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap/bootstrap.min.js"></script>

    <script type="text/javascript" src="javascripts/vendor/bootstrap-colorpicker-module.js"></script>



 <!-- Controllers -->

  <script type="text/javascript" src="javascripts/controllers/homeController.js"></script>


 <!-- Services -->

  <script type="text/javascript" src="javascripts/services/userService.js"></script>
  <script type="text/javascript" src="javascripts/services/tagService.js"></script>
  <script type="text/javascript" src="javascripts/services/questionService.js"></script>
  <script type="text/javascript" src="javascripts/services/tutorService.js"></script>

 <!-- Filters -->

</body>
</html>
