
<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
<link rel="shortcut icon" href="images/logosymbol.ico">
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>SpeedTutoring: Learn the quick way</title>

  <link rel="stylesheet" href="stylesheets/bootstrap/bootstrap.css"> 
  <link rel="stylesheet" href="stylesheets/login.css"> 

  <script src="javascripts/vendor/custom.modernizr.js"></script>
<!-- <a href="#" data-ng-click="vm.registerUser()"> Create Account</a> -->
</head>

<body class="main" data-ng-app="speedTutoring">

	<div data-ng-controller="loginController">

		<!-- Vertical Navigation Bar -->
		<div ng-include src="'views/v_nav.html'"></div>


		<!-- **************** -->
		<!-- Login / Register -->
		<!-- **************** -->

		<div data-ng-switch="vm.user.type" class="container">

			<!-- the register form -->
			<div data-ng-switch-when="registerUser">
				<div ng-include src="'loginViews/register.html'"></div>
			</div>

			<!-- the login form-->
			<div data-ng-switch-default >
				<div ng-include src="'loginViews/login.html'"></div>
			</div>

		</div>

	</div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>

  <!-- Facebook button -->

  	<script src="javascripts/vendor/angular.js"></script>
 

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap/bootstrap.min.js"></script>



 <!-- Controllers -->

  <script type="text/javascript" src="javascripts/controllers/homeController.js"></script>


 <!-- Services -->

  <script type="text/javascript" src="javascripts/services/userService.js"></script>
  <script type="text/javascript" src="javascripts/services/tagService.js"></script>
  <script type="text/javascript" src="javascripts/services/questionService.js"></script>
  <script type="text/javascript" src="javascripts/services/tutorService.js"></script>

 <!-- Filters -->

</body>
</html>
