/* line 19, ../sass/home.scss */
.qst-form {
  margin-top: 10em;
  padding: 2em 1em 4em 1em;
  border: 1px solid #b3b3b3;
  outline: 3px solid #89a5b5;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 29, ../sass/home.scss */
.qst-container {
  padding: 0 0 0 0;
}

/* line 33, ../sass/home.scss */
img.logo {
  height: 35px;
  top: 14px;
  background: transparent;
  float: left;
  position: relative;
}

/* line 42, ../sass/home.scss */
.top-bar {
  height: 50px;
  outline: 3px solid #89a5b5;
  background-color: #ffffff;
}
/* line 47, ../sass/home.scss */
.top-bar section {
  margin-left: 15em;
  margin-right: 10em;
  height: 100%;
}
/* line 51, ../sass/home.scss */
.top-bar section ul {
  background: transparent;
  height: 100% !important;
}
/* line 54, ../sass/home.scss */
.top-bar section ul li {
  height: 100% !important;
  background: transparent;
}
/* line 57, ../sass/home.scss */
.top-bar section ul li a {
  height: 100% !important;
}
/* line 63, ../sass/home.scss */
.top-bar section ul.right {
  background-color: #e05050;
}
/* line 66, ../sass/home.scss */
.top-bar section ul.right li a {
  background: none;
}

/* line 76, ../sass/home.scss */
.main {
  background-color: #fcfeff;
}

/* line 82, ../sass/home.scss */
.ask-button {
  padding: 0 0 0 0;
}

/* line 86, ../sass/home.scss */
.tag-form {
  margin-top: 10em;
  padding: 1em 1em 4em 1em;
  border: 1px solid #b3b3b3;
  outline: 3px solid #89a5b5;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
}

/* line 96, ../sass/home.scss */
ul.tags-list {
  font-family: inherit;
}
/* line 100, ../sass/home.scss */
ul.tags-list li {
  display: inline;
  padding: 0.25em 0.25em 0.25em 0.25em;
  margin-right: 0.5em;
  border: 1px solid #b3b3b3;
  background-color: #6a9394;
  list-style-type: none;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 114, ../sass/home.scss */
input.search-tags {
  margin: 0 0 0 0;
}

/* line 118, ../sass/home.scss */
.tags {
  width: 100%;
  padding: 0.5em 0 0.5em 0.5em;
  border: 1px solid #b3b3b3;
  border-top: none;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* line 128, ../sass/home.scss */
.tags:hover {
  background-color: #fff2c7;
}
