/* line 36, ../sass/home.scss */
.qst-form {
  margin-top: 8em;
  width: auto;
  height: 4em;
  padding: 1em 1em 1em 1em;
  outline: 3px solid #6d91ab;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 3px #6d91ab;
}

/* line 47, ../sass/home.scss */
.qst-container {
  padding: 0 0 0 0;
}

/* line 51, ../sass/home.scss */
img.logo {
  height: 35px;
  top: 14px;
  background: transparent;
  float: left;
  position: relative;
}

/* line 62, ../sass/home.scss */
.top-bar {
  height: 57px;
  outline: 3px solid #6d91ab;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px #6d91ab;
}
/* line 68, ../sass/home.scss */
.top-bar section {
  margin-left: 20em;
  margin-right: 15em;
  height: 100%;
}
/* line 72, ../sass/home.scss */
.top-bar section ul {
  background: transparent;
  height: 100% !important;
}
/* line 75, ../sass/home.scss */
.top-bar section ul li {
  height: 100% !important;
  background: transparent;
}
/* line 80, ../sass/home.scss */
.top-bar section ul li a {
  height: 100% !important;
  background: none !important;
}
/* line 86, ../sass/home.scss */
.top-bar section ul li.username {
  background-color: #338fd5;
}
/* line 91, ../sass/home.scss */
.top-bar section ul.right {
  background-color: #4578a0;
}
/* line 94, ../sass/home.scss */
.top-bar section ul.right li a {
  background: none;
}

/* line 104, ../sass/home.scss */
.main {
  background-color: #fcfeff;
}

/* line 108, ../sass/home.scss */
.button {
  background-color: #4578a0;
}

/* line 112, ../sass/home.scss */
.ask-button {
  padding: 0 0 0 0;
}

/* line 115, ../sass/home.scss */
.form {
  margin-top: 5em;
  width: auto;
  height: auto;
  padding: 1em 1em 1em 1em;
  outline: 3px solid #6d91ab;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 3px #6d91ab;
}

/* line 127, ../sass/home.scss */
.tag-form {
  margin-top: 10em;
  padding: 1em 1em 4em 1em;
  border: 1px solid #b3b3b3;
  outline: 3px solid #6d91ab;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #ffffff;
}

/* line 137, ../sass/home.scss */
ul.tags-list {
  font-family: inherit;
}
/* line 141, ../sass/home.scss */
ul.tags-list li {
  display: inline;
  padding: 0.25em 0.25em 0.25em 0.25em;
  margin-right: 0.5em;
  border: 1px solid #b3b3b3;
  background-color: #6a9394;
  list-style-type: none;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 155, ../sass/home.scss */
input.search-tags {
  margin: 0 0 0 0;
}

/* line 159, ../sass/home.scss */
.tags {
  width: 100%;
  padding: 0.5em 0 0.5em 0.5em;
  border: 1px solid #b3b3b3;
  border-top: none;
  font-family: inherit;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/* line 169, ../sass/home.scss */
.tags:hover {
  background-color: #fff2c7;
}
