/* line 6, ../sass/home.scss */
.h-nav nav {
  border-bottom: 4px solid #89a5b5;
  background-color: #ffffff;
}

/* line 11, ../sass/home.scss */
img.logo {
  height: 41px;
  background: transparent;
  vertical-align: bottom;
  display: table-cell;
}

/* line 17, ../sass/home.scss */
.main {
  background-color: #f0f5f8;
}

/* line 21, ../sass/home.scss */
.title {
  font-size: 20px;
  color: #89a5b5;
}

/* line 28, ../sass/home.scss */
.top-bar-section {
  height: 100%;
  width: auto;
}

/* line 32, ../sass/home.scss */
.top-bar-section ul {
  background: transparent;
  height: 100% !important;
  left: 50px !important;
  display: block;
}
/* line 38, ../sass/home.scss */
.top-bar-section ul li {
  height: 100%;
}

/* line 42, ../sass/home.scss */
.qst-form {
  margin-top: 10em;
  padding: 2em 1em 4em 1em;
  border: 4px solid #89a5b5;
  background-color: #ffffff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 51, ../sass/home.scss */
.qst-container {
  padding: 0 0 0 0;
}

/* line 55, ../sass/home.scss */
.ask-button {
  padding: 0 0 0 0;
}

/* line 59, ../sass/home.scss */
.tag-form {
  margin-top: 10em;
  padding: 1em 1em 4em 1em;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 67, ../sass/home.scss */
ul.tags-list {
  font-family: inherit;
}
/* line 71, ../sass/home.scss */
ul.tags-list li {
  display: inline;
  padding: 0.25em 0.25em 0.25em 0.25em;
  margin-right: 0.5em;
  border: 1px solid #b3b3b3;
  background-color: #6a9394;
  list-style-type: none;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 85, ../sass/home.scss */
input.search-tags {
  margin: 0 0 0 0;
}

/* line 89, ../sass/home.scss */
.tags {
  width: 100%;
  padding: 0.5em 0 0.5em 0.5em;
  border: 1px solid #b3b3b3;
  border-top: none;
  font-family: inherit;
  color: #89a5b5;
  cursor: pointer;
}

/* line 99, ../sass/home.scss */
.tags:hover {
  background-color: #fff2c7;
}
