/* line 3, ../sass/login.scss */
.login-form {
  margin-top: 10em;
  padding: 2em 1em 2em 1em;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 10, ../sass/login.scss */
.fb-button {
  height: 27px;
  width: 200px;
  margin-top: 2em;
  background-image: url("/images/FB_Small_and_Long_200x24.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
