<div class="modal-header">
    <h3>We have found a tutor!</h3>
</div>
<div class="modal-body">
    Are you ready to learn?
</div>
<div class="modal-footer">

	<button class="btn btn-primary" ng-click="yes()">Yes, I can't wait!</button>
	<button class="btn btn-primary" ng-click="no()">I'm not ready</button>
</div>