<div class="container-fluid">

	<div class="row">
		<div class="col-lg-8 col-lg-offset-3">
			<h1>Searching for a tutor. Be patient young padawan. <img src="images/ajax-loader.gif"></div></h1>
		</div>
	</div>

</div>