<!--<form novalidate class="simple-form">
					<input type="text" placeholder = "Username" ng-model="vm.user.username"/> <br/>
					<input type="password" placeholder = "Password" ng-model="vm.user.password"/> <br/>
					<input type="password" placeholder = "Confirm Password" /> <br/>
			    	<input type="text" placeholder = "First Name" ng-model="vm.user.firstName" /><br/>
			    	<input type="text" placeholder = "Last Name" ng-model="vm.user.lastName" /><br/>
			        <input type="text" placeholder = "Email" ng-model="vm.user.email" /><br />
			        <input type="text" placeholder = "School" ng-model="vm.user.school" /><br />
			        <button class="button" data-ng-click="vm.user.submit()">Register</button>
			        <button class=" right button" data-ng-click="vm.cancelRegistration()">Cancel</button>
</form>

-->

<div class="container">

	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form role="form">
				<h2>Register! <small>Come play with us, Danny.</small></h2>
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
		                    <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" ng-model="vm.user.firstName">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" ng-model="vm.user.lastName">
						</div>
					</div>
				</div>
				<div class="form-group">
					<input type="text" name="display_name" id="display_name" class="form-control input-lg" placeholder="School" tabindex="3" ng-model="vm.user.school">
				</div>
				<div class="form-group">
					<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" ng-model="vm.user.email">
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" ng-model="vm.user.password">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6">
						</div>
					</div>
				</div>
				
				
				<hr class="colorgraph">
				<div class="row">
					<div class="col-xs-12 col-md-6"><a href="" class="btn btn-success btn-block btn-lg">Sign In</a></div>
					<div class="col-xs-12 col-md-6"><span class="btn btn-primary btn-block btn-lg" data-ng-click="vm.user.submit" >Register</span> </div>
					
				</div>
			</form>
		</div>
	</div>

</div>