<div class="">
	<div class="row">
		<div class = "col-lg-offset-2 col-lg-8 ">Your current tags</div>
		<div class = "col-lg-offset-2 col-lg-8  well well-lg tag-list">
			<button type="button" class="btn btn-info" data-ng-repeat="(tag,value) in vm.myTags" data-ng-click="vm.removeTag(tag)">{{tag}}</button>
		</div>
	</div>

	<div class="row">
		<div class = "col-lg-offset-2 col-lg-8 ">Choose additional tags {{ test }}</div>
		<div class = "col-lg-offset-2 col-lg-8  well well-lg tag-list">
			<button type="button" class="btn btn-default" ng-repeat="(tag, description) in vm.suggestedTags" ng-click="vm.addTag(tag)">{{ tag }}</button>
		</div>
	</div>

	<div class="row">
		<div class = "col-lg-offset-2 col-lg-8">Create a tag</div>
		<div class = "col-lg-offset-2 col-lg-8 well well-lg">

			<div class="input-group">
				<input type="text" class="form-control" placeholder="Create a new tag" ng-model="vm.newTag">
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" type="button" ng-click="vm.createTag(vm.newTag)">Add</button>
				</span>
			</div><!-- /input-group -->
		</div>
	</div>
		
	<div class="row">
		<div class = "col-lg-offset-2">
			<button type="button" class="btn-lg btn-info" data-ng-click="vm.beAvailable()">Find me a student!</button>
		</div>
	</div>
</div>