<div class="row">
	<div class="col-md-3">
		<ul>
			<li>rouge</li>
			<li>vert</li>
			<li><input colorpicker="hex" class="form-control ng-pristine ng-valid" ng-model="wb.love" type="text"></li>
		</ul>
	</div>
	<div class="col-md-9">
		<canvas id="myCanvas" resize tutr-canvas></canvas> 
	</div>
</div>